<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>About - MTIS</title>
	<link rel="icon" type="image" href="/images/logo.png">
	<!-- custom-theme -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Edifying Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      	function hideURLbar(){ window.scrollTo(0,1); }
    </script>
	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- font-awesome-icons -->
	<script src="https://kit.fontawesome.com/6b9b6483b8.js" crossorigin="anonymous"></script>
	<link href="css/font-awesome.css" rel="stylesheet" />
	<!-- //font-awesome-icons -->

	<link rel="stylesheet" href="/css/style.css" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap"
		rel="stylesheet">

</head>

<body style="font-family: 'Cairo', sans-serif;">
	<!-- banner -->
	<div class="banner3" style="font-family: 'Cairo', sans-serif;">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1>
					<a href="/home-en"><img src="/images/logoMTIS1.png" href="/home-en"
							style="width: 140px; height: 50px;"></a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-2" id="link-effect-2" style="margin-top: -3em; margin-left:8em;">
					<ul class="nav navbar-nav"  style="margin-left: -1.9em;" >
						<li>
							<a href="/home-en"><span data-hover="Home" style="font-size: 1.1em;">Home</span></a>
						</li>
						<li class="active">
							<a href="/about-en"><span data-hover="About" style="font-size: 1.1em;">About</span></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<li class="dropdown">
							<span data-hover="Services" style="font-size: 1.1em;">Services</span> <b
								class="caret"></b></a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="/payment-en">Tuition Payment</a>
								</li>
								<li>
									<a href="/services-en">Department Selection</a>
								</li>
								<li>
									<a href="/summerpayment-en">Summer Fee Payment </a>
								</li>
							</ul>
						</li>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
									data-hover="Departments" style="font-size: 1.1em;">Departments</span> <b class="caret"></b></a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="/tis-en">TIS</a>
								</li>
								<li>
									<a href="/bis-en">BIS</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/contact-en"><span data-hover="Contact" style="font-size: 1.1em;">Contact</span></a>
						</li>
						<li class="lang" style="font-family: 'Cairo',sans-serif;">
							<a href="/about-ar" style="margin-left:17em;" id="ar"><img
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA0UlEQVR4AWN4y8DwCht6jISuIxBY7kt1DQR9Li6BoA9ZWUD0KSEBiD6GhwPROx8fIEJogEkg5N7Z2UHQG11dCIJqALJ+LF36rb8fiL52dEAQyIg9ZUAS2UIgF6ThLwb4+fPHh0cTPz2s+vr1K5D9FQk8f/4ciwag0pe32oAkSA8qePr0KQOm8RANQIRdg5aW1sKFCztgoKamFogenE0GopycXAhKTEwCIqA4AwQAOY5gYAIGQCMUwIAfFQDFERqAKAgGHGHABAa0wEBdXZ2BDAAA0TQJcCf938gAAAAASUVORK5CYII="
									style="width:16px; height:11px;"> العربية</a>
						</li>
					</ul>
				</nav>
			</div>
		</nav>
		<div class="wthree_banner1_info">
			<div class="container">
				<h3 style="text-align: center; font-family: 'Cairo', sans-serif; font-size: 3em;">About</h3>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- courses -->
	<div class="courses">
		<div class="container">
			<div>
				<div style="text-align: center;">
					<br><br>
					<h2 style="text-align: center; font-family: 'Cairo' ,sans-serif;">Welcome Word</h2>
					<hr class="solid" style="color:#0accff; text-align: center;">
					</hr>
				</div>
			</div>
			<br>
			<div class="elementor-widget-image">
				<div class="elementor-image">
					<img width="172" height="200"
						src="images/pic1.jpg"
						class="attachment-medium size-medium">
				</div>
			</div>
			<div class="elementor-icon">
				<i aria-hidden="true" class="fas fa-quote-right"
					style="color: #999; width: 30em; float: right; margin-right: -25em;"></i>
				<i aria-hidden="true" class="fas fa-quote-left" style="color: #999; width: 30em;"></i>
				<p style="text-align: center; font-size: 15px; line-height: 1.8; color: #4B4F54;">
					In the name of God, the most gracious, the most merciful
					<br><br>Students of the
					Faculty of Management Technology and Information Systems<br><br>

					On behalf of the Faculty of Management Technology and Information Systems - Port Said University, I
					welcome new students and returning students to complete their educational path. It is my pleasure to
					start this new academic year with you.<br><br>
					For the Faculty of Management Technology and Information Systems, in order to be a platform for
					science and a bright and honorable face for Port Said University, everyone in the faculty is
					administration, faculty members, a supporting body, an administrative body, and students of one
					family united by respect, friendliness, work, and sincerity. And because they believe that the focus
					of the educational process is the student, they spare no effort in pushing students towards
					excellence.
					<br>and creativity to build a generation of teachers who will take upon themselves the future of the
					nation,
					And to be bright stars in the sky of the homeland, and to preserve the values and principles.
					That is why I direct all students to pursue the fulfillment of wishes and self-fulfillment, and to
					seize the opportunity for creativity and excellence in all activities available within the college.
					And at the end of my words to you, take haste - my sons, students - to receive knowledge and acquire
					it so that your hopes may be fulfilled, and respect your teachers and follow their example.
				</p>

			</div>
		</div>
	</div>
	<!-- //courses -->


	<!-- subjects -->
	<div class="stats-bottom-banner1">
		<div class="container">

			<div class="w3l_more">
				<br><br><br><br>
			</div>
			<div class="vision">
				<br>
				<h1 style="font-family: 'Cairo', sans-serif; color:#3a51a1; text-align: left; margin-left: 1.4em; ">
					Vision</h1>
				<hr class="solid1" style="color:#0accff; margin-left: 3em; width: 8em;">
				</hr>
				<p style="color: #282a2b; font-size: 16px; text-align: left; margin-left: 3em;">The Faculty of Management Technology and Information Systems aspires to be a pioneer and distinguished in its fields of specialization in order to keep pace with local, regional and global developments.</p>
				<p style="color: white;">.</p>
			</div>
		</div>
	</div>
	<!-- //end subjects -->
	<br><br>
	<section>
		<div class="container">
			<div>
				<div>
					<img width="550" height="400" style="float: right;" src="/images/about5.jpg" alt="">
					<br><br>
					<h2
						style="color: #3a51a1; font-family: 'Cairo', sans-serif; width: 33.3%; float:left; text-align: justify; margin-left: 5.3em; margin-top: 2em;">
						Our message</h2>
					<br><br><br>
					<p
						style="color: #282a2b; width: 50.3%; float:left; font-size: 1.1em; text-align: justify; margin-left: -2em; margin-top: 1.2em;">
						The college seeks to prepare a distinguished graduate in the fields of information systems and technology and business information systems in terms of cognitive, skill and vocational qualification capable of competition and creativity in the labor market and excellence in the fields of research and environmental development in order to achieve effective community participation</p>
				</div>
			</div>

		</div>
	</section>
	<br><br>
	<div class="stats-bottom-banner2" style="display: flex" dir="rtl">
		<div class="container">

			<div class="w3l_more">
				<br><br><br><br>
			</div>
			<div class="vision1">
				<br>
				<h1 style="font-family: 'Cairo', sans-serif; color:#fff;">Foundation</h1>
				<hr class="solid1" style="color:#0accff; text-align: center;">
				</hr>
				<p style="color: #fff; text-align: center; font-size: 20px;">Based on the Prime Minister's Decision No. 818 of 2017 to amend some provisions of the executive regulations of the Universities Organization Law to establish the Faculty of Management Technology and Information Systems, Port Said University</p>
			</div>
		</div>
	</div>
	<br><br>
	<div>
		<div class="container">
			<div class="structer">
				<h3 style="font-family: 'Cairo', sans-serif;">The organizational and administrative structure of the college</h3>
				<hr class="solid" style="color:#0accff; text-align: center; width: 60%;">
				<img src="images/pic2.jpg" alt="" width="100%"
					height="100%">
			</div>

		</div>
	</div>
	<br><br>
	<div>
		<div class="container">
			<div class="structer">
				<h1 style="font-family: 'Cairo', sans-serif;">Strategic Plan</h1>
				<hr class="solid" style="color:#0accff; text-align: center; width: 30%;">
				<img src="images/pic3.jpg" alt="" width="60%"
					height="40%">
			</div>
		</div>
	</div>
	<br>
	<!-- End subjects -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile_footer_copy">
				<div class="w3agile_footer_grids">
					<div class="col-md-4 w3agile_footer_grid" >
						<h3 style="font-family: 'Cairo', sans-serif;">Contact Info</h3>
						<ul>
							<li style="font-family: 'Cairo', sans-serif;">
								<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Institutes Complex -
								Directorate of <span>Housing and Utilities - Housing Bank.</span>
							</li>
							<li style="font-family: 'Cairo', sans-serif;">
								<i class="fa-solid fa-phone"></i> 066-3737125
							</li>
							<li>
								<i class="glyphicon glyphicon-globe" aria-hidden="true"></i><a href="http://psu.edu.eg/"
								target="_blank" style="font-family: 'Cairo', sans-serif;">
								PSU - Port Said University
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
					<h3></h3>
					<ul style="font-family: 'Cairo', sans-serif;">
						<li>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
							href="/home-en">Home</a>
						</li>
						<li>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
							href="/about-en">About</a>
						</li>
						<li>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
							href="/payment-en">Services</a>
						</li>
						<li>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
								href="/tis-en">Departments</a>
						</li>
						<li>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a
								href="/contact-en">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
						<div class="agile_mapEN">
							<iframe
								src="https://maps.google.com/maps?q=faculty of management technology and information systems&t=&z=17&ie=UTF8&iwloc=&output=embed"
							style="border: 0; "></iframe>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="w3_agileits_copy_right_social">
				<div class="col-md-6 agileits_w3layouts_copy_right">
					<p>
						&copy; 2023 <span style="color:#0accff">M</span>TIS. All rights reserved.
						<a></a>
					</p>
				</div>
				<div class="col-md-6 w3_agile_copy_right">
					<ul class="agileinfo_social_icons">
						<li>
							<a href="https://www.facebook.com/MTIS.psu.edu.eg/?ref=page_internal"
								class="w3_agileits_facebook" target="_blank"><i class="fa fa-facebook"
									aria-hidden="true"></i></a>
						</li>
						<li>
						<a href="https://www.youtube.com/channel/UCI7m1NhItU2vrBSp7abmpNA" class="wthree_youtube" target="_blank"><i class="fa fa-youtube"
								aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="mailto:itu@himc.psu.edu.eg" class="agileinfo_google"><i class="fa fa-google-plus"
									aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$("html,body").animate(
					{ scrollTop: $(this.hash).offset().top },
					1000
				);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			var defaults = {
				containerID: "toTop", // fading element id
				containerHoverID: "toTopHover", // fading element hover id
				scrollSpeed: 1200,
				easingType: "linear",
			};

			$().UItoTop({ easingType: "easeOutQuart" });
		});
	</script>

	<script src="js/slick.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).on("ready", function () {
			$(".center").slick({
				dots: true,
				infinite: true,
				centerMode: true,
				slidesToShow: 2,
				slidesToScroll: 2,
				responsive: [
					{
						breakpoint: 768,
						settings: {
							arrows: true,
							centerMode: false,
							slidesToShow: 2,
						},
					},
					{
						breakpoint: 480,
						settings: {
							arrows: true,
							centerMode: false,
							centerPadding: "40px",
							slidesToShow: 1,
						},
					},
				],
			});
		});
	</script>
	<!-- //carousal -->
	<!-- flexisel -->
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1,
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2,
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2,
					},
				},
			});
		});
	</script>
	<!-- //here ends scrolling icon -->
</body>

</html>