<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="ar">

<head>
	<title>
		الرئيسية - MTIS
	</title>
	<link rel="icon" type="image" href="/images/logo.png">
	<!-- custom-theme -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Edifying Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      	function hideURLbar(){ window.scrollTo(0,1); }
    </script>
	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/stylear.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<link rel="stylesheet" href="css/flexsliderar.css" type="text/css" media="screen" property="" />
	<!-- gallery -->
	<link href="css/lsb.css" rel="stylesheet" type="text/css" />
	<!-- //gallery -->
	<!-- font-awesome-icons -->
	<link href="css/font-awesome.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/6b9b6483b8.js" crossorigin="anonymous"></script>
	<!-- //font-awesome-icons -->
	<link
		href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese"
		rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap"
		rel="stylesheet">
</head>

<body style="font-family: 'Cairo', sans-serif;">
	<!-- banner -->
	<div class="banner">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1>
					<a href="/home-ar"><img src="/images/logoMTIS1.png" href="/home-en"
							style="width: 140px; height: 50px;"></a>
					<!-- <img src="/images/logo.png" style="width: 9%; margin-top: -10px;"> -->
					<!-- <a class="navbar-brand" href="/home-ar"><span>M</span>TIS</a> -->
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" dir="rtl">
				<nav class="link-effect-2" id="link-effect-2">
					<ul class="nav navbar-nav">
						<li>
							<a href="/contact-ar"><span data-hover="تواصل معنا">تواصل معنا</span></a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
									data-hover="الأقسام">الأقسام</span> <b class="caret"></b></a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
                                    <a href="/tis-ar">نظم وتكنولوجيا المعلومات</a>
                                </li>
                                <li>
                                    <a href="/bis-ar">نظم معلومات الأعمال</a>
                                </li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
									data-hover="الخدمات" style="font-size: 1.1em;">الخدمات</span> <b class="caret"></b></a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="/payment-ar">دفع الرسوم الدراسية</a>
								</li>
								<li>
									<a href="/services-ar">استمارة اختيار القسم</a>
								</li>
								<li>
									<a href="/summerpayment-ar">دفع الرسوم الصيفية</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/about-ar"><span data-hover="عن الكلية">عن الكلية</span></a>
						</li>
						<li class="active">
							<a href="/home-ar"><span data-hover="الصفحة الرئيسية">الصفحة الرئيسية</span></a>
						</li>
						<li class="lang" style="font-size: 0.8em;">
							<a href="/home-en" style="margin-left:17em;" id="en"><img
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg=="
									style="width:14px; height:12px;"> English</a>
						</li>
					</ul>
				</nav>
			</div>
		</nav>
		<div class="container">
			<div class="agile_banner_info">
				<div class="agile_banner_info1">
					<h3 style="font-size: 26px; font-family: 'Cairo',sans-serif;">جامعة <span>بورسعيد</span></h3>
					<div id="typed-strings" class="agileits_w3layouts_strings" dir="rtl">
						<p>كلية تكنولوجيا الإدارة <span style="color:#0accff">و</span> نظم المعلومات </p>
					</div>
					<span id="typed" style="white-space: pre">""</span>
				</div>
			</div>
			<div class="banner_agile_para">
				<p dir="rtl" style="font-size: 18px;">
					أول كلية حكومية عامة في مصر تقدم هذين التخصصين:<br>
					<a href="/tis-ar" class="homemajor">-نظم وتكنولوجيا المعلومات [TIS]</a> <br>
					<a href="/bis-ar" class="homemajor">-نظم معلومات الأعمال [BIS]</a>
				</p>
			</div>
			<div class="w3_agile_social_icons">
				<ul class="agileinfo_social_icons">
					<li>
						<a href="https://www.facebook.com/MTIS.psu.edu.eg/?ref=page_internal"
							class="w3_agileits_facebook" target="_blank"><i class="fa fa-facebook"
								aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCI7m1NhItU2vrBSp7abmpNA" class="wthree_youtube" target="_blank"><i class="fa fa-youtube"
								aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="mailto:itu@himc.psu.edu.eg" class="agileinfo_google" target="_blank"><i
								class="fa fa-google-plus" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
			<div class="w3_banner_color">
				<span></span>
			</div>
			<div class="w3_scroll_arrow">
				<a href="#team" class="scroll scroll-down"><span class="dot"> </span></a>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-6 w3ls_banner_bottom_right">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agileits_w3layouts_banner_bottom_grid">
									<img src="images/uni.jpg" alt=" " class="img-responsive" height="10" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_banner_bottom_grid">
									<img src="images/Hospital3.jpeg" alt=" " class="img-responsive" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_banner_bottom_grid">
									<img src="images/unilogo.png" alt=" " class="img-responsive" />
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-md-6 w3ls_banner_bottom_left">
				<div class="w3ls_banner_bottom_left1">
					<p style="height: 10em;"><br><br></p>
				</div>
				<div class="w3ls_banner_bottom_right1" dir="rtl">
					<h1  style="font-family: 'Cairo', sans-serif; ">
						تسعى الجامعة إلى التطوير المستمر<span style="color:#0accff"> للنظام التعليمي.</span>
					</h1>
					<p style="font-size:18px">
						تقوم الجامعة بإنشاء كليات ومعاهد جديدة لمواكبة التطورات السريعة في مجالات التكنولوجيا الحديثة
						لدفع عملية التطوير والإنتاج.
					</p>
					<div class="w3l_more" dir="rtl" style="margin-right:100px;">
						<a href="https://psu.edu.eg" class="button button--nina" data-text="اعرف المزيد"
							target="_blank">
							<span>اعرف المزيد</span>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- gallery-top -->
	<!-- <div class="gallery-top">
		<div class="agileinfo_gallery_top">
			<h3>
				<span>Pictures</span> of the college, laboratories, classes and lectures
			</h3>
		</div>
	</div> -->
	<!-- //gallery-top -->
	<!-- gallery -->
	<div class="gallery">
		<ul id="flexiselDemo1">
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/kolya.png" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/kolya.png" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/labs.png" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/labs.png" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/meeting.png" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/meeting.png" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/kolya2.png" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/kolya2.png" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/mtislabs.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/mtislabs.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/sections.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/sections.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/lecroom.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/lecroom.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p style="margin-top:-4em;">أعرض الصورة</p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<!-- //gallery -->
	<!-- News -->

	<div class="courses" style="background-color:#282c4e;" dir="rtl">
		<div class="container" dir="rtl">
			<div class="w3_agile_team_grid">
				<div class="w3_agile_team_grid_left" style="float: right;">
					<p style="height: 4em;"><br><br></p>
				</div>
				<div class="w3_agile_team_grid_right">
					<h3 style="color:#fff; font-family: 'Cairo', sans-serif;">أحدث <span>أخبارنا</span></h3>
					<p>
						أخبار كلية تكنولوجيا الأدارة ونظم المعلومات<br> .تتضمن أيضا أخبار جامعة بورسعيد
					</p>
				</div>
				<div class="clearfix"></div>
			</div>


			<div class="agileinfo_services_grids">
				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid1">
						<h3>رالي مصر</h3>
						<div class="agile_services_grid1_sub">
							<p>28 مارس 2023</p>
						</div>
						<h4><span>M</span>TIS</h4>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal1">رالي المنافسة للشركات الرائدة</a>
						</h4>
						<p>
							اشترك في مسابقة رالي لتحصل على فرصتك لربح 70 ألف جنيه مصري <a href="#" data-toggle="modal"
								data-target="#myModal1"
								style="font-weight:bold ; font-size: 17px; color: #ec9114;"><u>اقرأ المزيد</u></a>
						</p>
					</div>
				</div>


				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid2">
						<h3>منصة الكتب الإلكترونية</h3>
						<div class="agile_services_grid1_sub">
							<p>13 مارس 2023</p>
						</div>
						<h4><span>M</span>TIS</h4>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal2">إعلان هام لطلبة الكلية - جميع
								المستويات</a>
						</h4>
						<p>
							تحميل الكتب الإلكترونية على منصة الكتب الإلكترونية بجامعة بورسعيد <a href="#"
								data-toggle="modal" data-target="#myModal2"
								style="font-weight:bold ; font-size: 17px; color:#ec9114"><u>اقرأ المزيد</u></a>
						</p>
					</div>
				</div>


				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid3">
						<h3>جامعة بورسعيد</h3>
						<div class="agile_services_grid1_sub">
							<p>19 ديسمبر 2022</p>
						</div>
						<h4><span>M</span>TIS</h4>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal3">الملتقى الثاني  للباحثين بجامعة
								بورسعيد</a>
						</h4>
						<p>
							عناصر اقتراح بحث ناجح من الفكرة إلى الورقة البحثية <a href="#" data-toggle="modal"
								data-target="#myModal3"
								style="font-weight:bold ; font-size: 17px;  color: #ec9114;"><u>اقرأ المزيد</u></a>
						</p>
					</div>
				</div>


				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid4">
						<!-- <h3 style="color:black">Project supervisors</h3> -->
						<div class="agile_services_grid1_sub">
							<p>14 مارس 2023</p>
						</div>
						<h4><span>MTIS</span>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal4">توزيع طلاب المعهد علي المشاريع</a>
						</h4>
						<p>
							السنة الرابعة معهد مشرفي المشاريع 2022/2023 <a href="#" data-toggle="modal"
								data-target="#myModal4"
								style="font-weight:bold ; font-size: 17px;  color: #ec9114;"><u>اقرأ المزيد</u></a>
						</p>
					</div>
				</div>


				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid5">
						<!-- <h3 style="color:black">Launching an electronic system</h3> -->
						<div class="agile_services_grid1_sub">
							<p>9 أبريل 2023</p>
						</div>
						<h4><span>M</span>TIS</h4>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1" data-target="#myModal5">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal5">منصة التعلم الألكتروني THINQI</a>
						</h4>
						<p>
							****إعلان هام للطلاب**** —————————— للدخول الي منصة التعليم الالكتروني (ثينكي) يرجى الدخول
							على الرابط على أن يكون اسم المستخدم : … <a href="#" data-toggle="modal"
								data-target="#myModal5"
								style="font-weight:bold ; font-size: 17px; color: #ec9114;"><u>أقرا المزيد</u></a>
						</p>
					</div>
				</div>


				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid1 wthree_services_grid6">
						<div class="agile_services_grid1_sub">
							<p>12 أكتوبر 2022</p>
						</div>
						<h4><span>M</span>TIS</h4>
					</div>
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="clearfix"></div>
						</div>
						<h4 style="font-family: 'Cairo',sans-serif;">
							<a href="#" data-toggle="modal" data-target="#myModal6">تصنيفات الجامعات العالمية 2023</a>
						</h4>
						<p>
							للسنة الثالثة على التوالي ، تم تصنيف جامعة بورسعيد في تصنيفات جامعة تايمز البريطانية. <a
								href="#" data-toggle="modal" data-target="#myModal6"
								style="font-weight:bold ; font-size: 17px; color: #ec9114;"><u>أقرا المزيد</u></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start pop-up news -->
	<!-- bootstrap-pop-up1 -->
	<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/rallynews.jpg" alt=" " class="img-responsive" /><br>
						<img src="images/rallynews1.jpg" alt=" " class="img-responsive" />
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->

	<!-- bootstrap-pop-up2 -->
	<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/news2.jpg" alt=" " class="img-responsive" />
						<p>تعلن وحدة تقنية المعلومات بالكلية عن تحميل الكتب الإلكترونية على منصة الكتب الإلكترونية
							بجامعة بورسعيد على الرابط التالي <br><a href="http://spsu.psu.edu.eg/login"
								target="_blank">رابط الكتب الإلكترونية</a></p>
						<p>لتسجيل الدخول<br>
							يتم استخدام البريد الإلكتروني الأكاديمي كاسم مستخدم<br>
							يتم استخدام الرقم الوطني ككلمة مرور<br>
							للاستفسار يرجى التواصل مع وحدة تقنية المعلومات في الكلية عبر البريد الإلكتروني <a
								href="mailto:itu@himc.psu.edu.eg" target="_blank">itu@himc.psu.edu.eg</a></p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->

	<!-- bootstrap-pop-up3 -->
	<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/news3.jpg" alt=" " class="img-responsive" />
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- bootstrap-pop-up4 -->
	<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/news43.jpg" alt=" " class="img-responsive" />
						<img src="images/news41.jpg" alt=" " class="img-responsive" />
						<img src="images/news42.jpg" alt=" " class="img-responsive" />
						<img src="images/news4.jpg" alt=" " class="img-responsive" />

					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- bootstrap-pop-up5 -->
	<div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/news5.jpg" alt=" " class="img-responsive" />
						<p>
							****أعلان هام للطلاب****<br>

							------------------------------<br>


							للدخول إلى منصة التعلم الإلكتروني (THINQI)<br>

							يرجى الذهاب إلى الرابط التالي<br>

							<a href="https://portsaidinfotech.ekb.eg"
								target="_blank">https://portsaidinfotech.ekb.eg</a>

							<br>
							ليكون <br>

							اسم المستخدم: البريد الإلكتروني الأكاديمي للطالب<br>

							الي النهاية _Ss0 كلمة المرور: الرقم القومي للطالب مع إضافة<br>

							<br>
							****مثال****<br>

							-------------<br>

							Ahmed@himc.psu.edu.eg :اذا كان البريد الإلكتروني الأكاديمي للطالب هو

							<br>والرقم الوطني هو: 30123456789105<br>

							: هي THINQI بيانات اعتماد تسجيل الدخول لمنصة<br>

							Ahmed@himc.psu.edu.eg: اسم المستخدم<br>

							30123456789105_Ss0 : كلمة المرور
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- bootstrap-pop-up6 -->
	<div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					MTIS
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<img src="images/news6.jpeg" alt=" " class="img-responsive" />
						<p>تم الإعلان عن تصنيف British Times لعام 2023 ، وتقدمت جامعة بورسعيد 200 مرتبة عن إصدار العام
							السابق 2022 ، حيث حصلت جامعة بورسعيد على المرتبة 1001-1200. الجامعات المصنفة 1799 جامعة من
							104 دولة من جميع أنحاء العالم ،<br>
							وبهذه المناسبة يهنئ الأستاذ الدكتور أيمن محمد إبراهيم رئيس الجامعة قطاع الدراسات العليا
							والبحوث بالجامعة بمناسبة استمرار جامعة بورسعيد في مصاف أرقى الجامعات العالمية في التصنيف ،
							وهو ما يعكس مدى الجهد المبذول في مجال النهوض بالبحث العلمي بالجامعة ، حيث يعتبر تصنيف
							التايمز من أكثر التصنيفات العالمية مصداقية والأكاديمية في تصنيفها لأرقى الجامعات في العالم.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //bootstrap-pop-up -->
	<!-- End pop-up news -->
	<!-- End News -->



	<!-- stats -->
	<div class="stats">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid" >
			<i class="fa-solid fa-user-tie" style="font-size: 2.5em;"></i>
			<p class="counter">19</p>
			<h3 style="font-family: 'Cairo', sans-serif; ">دكتور</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
			<i class="fa-solid fa-user-graduate" style="font-size: 2.5em;"></i>
			<p class="counter">667</p>
			<h3 style="font-family: 'Cairo', sans-serif; ">طالب</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
			<i class="fa-solid fa-chalkboard-user" style="font-size: 2.5em;"></i>
			<p class="counter">16</p>
			<h3 style="font-family: 'Cairo', sans-serif; ">عضو هئية تدريس</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
			<i class="fa-solid fa-computer" style="font-size: 2.5em;"></i>
			<p class="counter">32</p>
			<h3 style="font-family: 'Cairo', sans-serif; ">المعامل</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //stats -->
	<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$(".counter").countUp();
	</script>
	<!-- //stats -->


	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile_footer_copy">
				<div class="w3agile_footer_grids">
					<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
						<div class="agile_mapAR">
							<iframe
								src="https://maps.google.com/maps?q=faculty of management technology and information systems&t=&z=17&ie=UTF8&iwloc=&output=embed"
								style="border: 0; "></iframe>
						</div>
					</div>
					<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1" dir="rtl">
						<h3></h3>
						<ul>
							<li>
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><a
									href="/home-ar">&nbsp;&nbsp;الصفحة الرئيسية</a>
							</li>
							<li>
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><a href="/about-ar">&nbsp;&nbsp;عن الكلية</a>
							</li>
							<li>
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><a href="/payment-ar">&nbsp;&nbsp; الخدمات</a>
							</li>
							<li>
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><a
									href="/tis-ar">&nbsp;&nbsp;الأقسام</a>
							</li>
							<li>
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><a
									href="/contact-ar">&nbsp;&nbsp;تواصل معنا</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 w3agile_footer_grid" dir="rtl">
						<h3 style="font-family: 'Cairo', sans-serif; margin-right: .9em;">معلومات الأتصال</h3>
						<ul>
							<li>
								<i class="fa-solid fa-location-dot"></i>أمام مديرية الاسكان والمرافق – بنك الاسكان<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; بمنطقة السلام - بورسعيد
							<li>
								<i class="fa-solid fa-phone"></i> 066-3737125
							</li>
							<li>
								<i class="fa-solid fa-building-columns"></i><a href="http://psu.edu.eg/"
									target="_blank">
									جامعة بورسعيد
								</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="w3_agileits_copy_right_social">
				<div class="col-md-6 agileits_w3layouts_copy_right">
					<p>
						&copy; 2023 <span style="color:#0accff">M</span>TIS. All rights reserved.
						<a></a>
					</p>
				</div>
				<div class="col-md-6 w3_agile_copy_right">
					<ul class="agileinfo_social_icons">
						<li>
							<a href="https://www.facebook.com/MTIS.psu.edu.eg/?ref=page_internal"
								class="w3_agileits_facebook" target="_blank"><i class="fa fa-facebook"
									aria-hidden="true"></i></a>
						</li>
						<li>
						<a href="https://www.youtube.com/channel/UCI7m1NhItU2vrBSp7abmpNA" class="wthree_youtube" target="_blank"><i class="fa fa-youtube"
								aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="mailto:itu@himc.psu.edu.eg" class="agileinfo_google"><i class="fa fa-google-plus"
									aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- carousal -->
	<script src="js/slick.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).on("ready", function () {
			$(".center").slick({
				dots: true,
				infinite: true,
				centerMode: true,
				slidesToShow: 2,
				slidesToScroll: 2,
				responsive: [
					{
						breakpoint: 768,
						settings: {
							arrows: true,
							centerMode: false,
							slidesToShow: 2,
						},
					},
					{
						breakpoint: 480,
						settings: {
							arrows: true,
							centerMode: false,
							centerPadding: "40px",
							slidesToShow: 1,
						},
					},
				],
			});
		});
	</script>
	<!-- //carousal -->
	<!-- flexisel -->
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1,
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2,
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2,
					},
				},
			});
		});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	<!-- //flexisel -->
	<!-- gallery-pop-up -->
	<script src="js/lsb.min.js"></script>
	<script>
		$(window).load(function () {
			$.fn.lightspeedBox();
		});
	</script>
	<!-- //gallery-pop-up -->
	<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$(".flexslider").flexslider({
				animation: "slide",
				start: function (slider) {
					$("body").removeClass("loading");
				},
			});
		});
	</script>
	<!-- //flexSlider -->
	<!-- banner-type-text -->
	<script src="js/typedar.js" type="text/javascript"></script>
	<script>
		$(function () {
			$("#typed").typed({
				// strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
				stringsElement: $("#typed-strings"),
				typeSpeed: 30,
				backDelay: 500,
				loop: false,
				contentType: "html", // or text
				// defaults to false for infinite loop
				loopCount: false,
				callback: function () {
					foo();
				},
				resetCallback: function () {
					newTyped();
				},
			});

			$(".reset").click(function () {
				$("#typed").typed("reset");
			});
		});

		function newTyped() {
			/* A new typed object */
		}

		function foo() {
			console.log("Callback");
		}
	</script>
	<!-- //banner-type-text -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$("html,body").animate(
					{ scrollTop: $(this.hash).offset().top },
					1000
				);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/

			$().UItoTop({ easingType: "easeOutQuart" });
		});
	</script>
	<!-- //here ends scrolling icon -->

	<!-- //register -->
</body>

</html>